target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Ortam degiskenleri - sir icerir, asla commit'lenmemeli ###
.env
.env.local

### IntelliJ IDEA ###
# Tum .idea klasoru haric tutulur; dataSources.xml gibi dosyalar
# baglanti bilgisi tasiyabiliyor.
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store